{% extends 'NutriPower.html' %} {% block content %}
<div class="box">
  <div class="box-header">
    <h3 class="box-title">Listagem de Alimentos:</h3>
  </div>
  <div class="box-body">
    <div id="alimentos_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
      <div class="row">
        <div class="col-sm-6">
          <div class="dataTables_length" id="alimentos_length">
            <label>Mostraranto 10 Alimentos</label>
          </div>
        </div>
        <div class="col-sm-6">
          <div id="alimentos_filter" class="dataTables_filter">
            <label>Buscar:
              <input type="search" class="form-control input-sm" placeholder="" aria-controls="alimentos">
            </label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <table id="alimentos" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="alimentos_info">
            <thead>
              <tr role="row">
                <th class="sorting_asc" tabindex="0" aria-controls="alimentos" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending"
                  style="width: 100px;">Nome</th>
                <th class="sorting" tabindex="0" aria-controls="alimentos" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending"
                  style="width: 100px;">Horário</th>
                <th class="sorting" tabindex="0" aria-controls="alimentos" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending"
                  style="width: 100px;">Carboidratos</th>
                <th class="sorting" tabindex="0" aria-controls="alimentos" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending"
                  style="width: 100px;">Proteínas</th>
                <th class="sorting" tabindex="0" aria-controls="alimentos" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending"
                  style="width: 100px;">Gorduras</th>
                <th class="sorting" tabindex="0" aria-controls="alimentos" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending"
                  style="width: 100px;">Calorias</th>
              </tr>
            </thead>
            <tbody id="corpoTabela">
              {% for r in lista %}
              <tr role="row" class="odd" id="linha">
                <td class="sorting_1">{{p.nome_refeicao}}</td>
                <td>{{r.horario_refeicao}}</td>
                <td>{{r.carboidratos}}</td>
                <td>{{r.proteinas}}</td>
                <td>{{r.gorduras}}</td>
                <td>{{r.calorias}}</td>
              </tr>
              {% endfor %}
            </tbody>
            <tfoot>
              <tr>
                <th rowspan="1" colspan="1">Nome</th>
                <th rowspan="1" colspan="1">Horário</th>
                <th rowspan="1" colspan="1">Carboidratos</th>
                <th rowspan="1" colspan="1">Proteínas</th>
                <th rowspan="1" colspan="1">Gorduras</th>
                <th rowspan="1" colspan="1">Calorias</th>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-5">
          <div class="dataTables_info" id="alimentos_info" role="status" aria-live="polite">Mostrando 1 a 10</div>
        </div>
        <div class="col-sm-7">
          <div class="dataTables_paginate paging_simple_numbers" id="paginacao">
            <ul class="pagination">
              <li class="paginate_button previous" id="alimentos_previous">
                <a href="#" aria-controls="alimentos" data-dt-idx="0" tabindex="0">Anterior</a>
              </li>
              <li class="paginate_button active">
                <a aria-controls="alimentos" data-dt-idx="1" tabindex="0">1</a>
              </li>
              <li class="paginate_button active">
                <a aria-controls="alimentos" data-dt-idx="1" tabindex="0">2</a>
              </li>
              <li class="paginate_button active">
                <a aria-controls="alimentos" data-dt-idx="1" tabindex="0">3</a>
              </li>
            
              <li class="paginate_button next" id="paginacao">
                <a aria-controls="alimentos" data-dt-idx="0" tabindex="0">Próxima</a>
              </li>
              
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<button type="submit" class="btn btn-default">
  <a href="../NutriPower.html" style="color: black">Cancelar</a>
</button>

{% endblock %}