<div style="width: 450px;" class="form-group">
    <label>Buscar Paciente:</label>
    <input type="search" class="form-control input-sm" placeholder="" aria-controls="example1">

</div>




<div style="width: 550px; " class="box box-primary">


    <form role="form">

        <div class="box-body">
            <div class="form-group">

                <label>Dados atuais do paciente:</label>

                <div style="width: 450px;" class="form-group">
                    <label>Nome</label>
                    <output type="text" class="form-control" id="nome"></output>
                </div>

                <div style="width: 150px" class="form-group">
                    <label>Idade</label>
                    <output type="text" class="form-control" id="idade"></output>
                </div>

                <div style="width: 150px;" class="form-group">
                    <label>Sexo</label>
                    <output type="text" class="form-control" id="sexo"></output>
                </div>

                <div style="width: 450px;" class="form-group">
                    <label>Altura(em metros)</label>
                    <output type="text" class="form-control" id="altura"></output>
                </div>

                <div style="width: 450px;" class="form-group">
                    <label>Peso(em Kg)</label>
                    <output type="text" class="form-control" id="peso"></output>
                </div>

                <div style="width: 450px;" class="form-group">
                    <label>Email</label>
                    <output type="text" class="form-control" id="email"></output>
                </div>

                <div style="width: 450px;" class="form-group">
                    <label>Telefone</label>
                    <output type="text" class="form-control" id="telefone"></output>
                </div>

                <div style="width: 450px;" class="form-group">
                    <label>Nível de Atividade Física</label>
                    <output type="text" class="form-control" id="atividade"></output>
                </div>

            </div>
        </div>
    </form>
</div>


<div style="width: 550px; margin-left: 600px; margin-top: -660px;" class="box box-primary">

    <form role="form">
        <div class="box-body">
            <div class="form-group">

                <label>Aterar dados de paciente:</label>

                <div style="width: 450px;" class="form-group">
                    <label>Nome</label>
                    <input type="text" class="form-control" placeholder="Enter ..." id="nome">
                </div>

                <div style="width: 150px" class="form-group">
                    <label>Idade</label>
                    <input type="text" class="form-control" placeholder="Enter ..." id="idade">
                </div>

                <div style="width: 150px;" class="form-group">
                    <label>Sexo</label>
                    <select class="form-control">
                        <option id="masculino">Masculino</option>
                        <option id="feminino">Feminino</option>
                    </select>
                </div>

                <div style="width: 450px;" class="form-group">
                    <label>Altura(em metros)</label>
                    <input style="width: 150px" type="text" class="form-control" placeholder="Enter ...">
                </div>

                <div style="width: 450px;" class="form-group">
                    <label>Peso(em Kg)</label>
                    <input type="text" class="form-control" placeholder="Enter ...">
                </div>

                <div style="width: 450px;" class="form-group">
                    <label>Email</label>
                    <input type="text" class="form-control" placeholder="Enter ...">
                </div>

                <div style="width: 450px;" class="form-group">
                    <label>Telefone</label>
                    <input type="text" class="form-control" placeholder="Enter ...">
                </div>

                <div style="width: 450px;" class="form-group">
                    <label>Nível de Atividade Física</label>
                    <select class="form-control">
                        <option>Sedentário:(pouco ou nenhum exercício diário)</option>
                        <option>Levemente Ativo:(exercício leve 1 a 3 dias na semana)</option>
                        <option>Moderadamente Ativo:(exercício moderado 3 a 5 dias na semana)</option>
                        <option>Bastante Ativo:(exercício pesado 6 a 7 dias na semana)</option>
                        <option>Muito Ativo:(exercício pesado todos os dias da semana ou 2 vezes ao dia)</option>
                    </select>
                </div>

            </div>
        </div>
    </form>


</div>


<button type="submit" class="btn btn-default">
    <a href="../NutriPower.html" style="color: black">Cancelar</a>
</button>
<button type="submit" class="btn btn-info pull-right">Salvar</button>